/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.mwg_effect000_overflow {
	overflow-x: hidden;
	overflow-y: visible;
}

.mwg_effect000 {
	position: relative;
	display: grid;
	place-items: center;
}

.mwg_effect000 .medias {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
}

.mwg_effect000 .media {
	display: block;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline-width: 2px;
		outline-style: solid;
	}
}

.mwg_effect000 .medias img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 4%;
	display: block;
	pointer-events: none;
	will-change: transform;
}
